body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: rgba(25, 82, 63, 0.582);
    color: white;
    padding: 20px;
    text-align: center;
}
nav{
    position: sticky;
    top: 0;
    background-color: rgba(25, 82, 63, 0.582);
    color: white;
    padding: 20px;
    text-align: center;
}
nav a{
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
}
section{
    margin: auto;
    padding: 20px; 
}
main{
    display: flex;
    padding: 30px;
    border-bottom: 1px solid black;
    margin-top: 20px;
}
input, label, legend{
    margin: 7px;
}
nav a:hover{

    border-radius: 20px;
    border: 1px solid white;
}
footer{
    text-align: center;
}