body{
    margin: 0;
}

header{
    background-color: rgba(25, 82, 63, 0.582);
    color: white;
    padding: 20px;
    text-align: center;
}
nav{
    background-color: rgba(25, 82, 63, 0.582);
    color: white;
    padding: 20px;
    text-align: center;
}
nav a{
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
}
section{
    margin: auto;
    padding: 20px; 
}
#sobre{
    display: flex;
    padding: 30px;
    border-bottom: 1px solid black;
    margin-top: 10px;
}
#utilidade{
    display:flex;
    padding: 30px;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

nav a:hover{

    border-radius: 20px;
    border: 1px solid white;
}